#page_align {
    font-family: Arial, Calibri,Tahoma;
	font-size: 12px;
	color: #333;
    width: 990px;
    height: 530px;
    background: rgba(225,225,255,0.6);
    margin: 50px auto; 
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

#header{
    width: 990px;
    height: 35px;
    background: #ACFA58;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-topleft-radius: 5px;
    -moz-border-topright-radius: 5px;
    overflow: hidden;

}

#header a{
    display: block;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    padding: 2px;
    font-size: 13px;
    text-decoration: none;
     border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}


#content{
    width: 990px;
    height: 460px;
    border-bottom:solid 1px #F1F1F1;
}

.content_left{
    float: left;
    width: 700px;
    height: 460px;
    border-right:solid 1px #F1F1F1;
    box-sizing: border-box;
}

.content_left_top{
     border-style: solid;
     border-width: 1px;
     width: 600px;
     height: 130px;
     margin-left: 50px;
     margin-top: 20px;
     border-radius: 5px; 
     box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9); 
    
}

.content_left_bottom{
    border-style: solid;
    border-width: 1px;
    width: 600px;
    height: 280px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px; 
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

.content_left_bottom h2 ,.content_left_top h2{
    color:#38610B;
    margin-left: 10px;
    font-family: Arial, Calibri,Tahoma;
}

.content_left_bottom p , .content_left_top p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-size: 13px;

}

.content_right{
    float: right;
    height: 460px;
    width: 290px;
    box-sizing: border-box;
    
}

.sign-in-form{
    float: right;
    width: 220px;
    margin-top: 20px;
    margin-right: 20px;
}

input[name="login"] , input[name="password"]{
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #CCC;
    box-shadow: none;
}

input[type="submit"] {
    margin-top: 10px;
    margin-left: 60px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #CCC;
    box-shadow: none;
}