body{
	margin: 0;
	padding: 0;
	background-image: url('../images/bg2.jpg');
	background-color: #EAEAEA;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}