#page_align {
    font-family: Arial, Calibri,Tahoma;
	font-size: 12px;
	color: #333;
    width: 990px;
    height: 530px;
    background: rgba(225,225,255,0.6);
    margin: 50px auto; 
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

#header{
    width: 990px;
    height: 35px;
    background: #ACFA58;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-topleft-radius: 5px;
    -moz-border-topright-radius: 5px;
    overflow: hidden;

}

#header a{
    color: #333;
    display: block;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    padding: 2px;
    font-size: 13px;
    text-decoration: none;
     border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

#header p{
     display: block;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    padding: 2px;
    font-size: 13px;
    text-decoration: none;
     border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);

}

#content{
    width: 990px;
    height: 460px;
    border-bottom:solid 1px #F1F1F1;
}

.content_left{

	float: left;
    width: 270px;
    height: 460px;
    border-right:solid 1px #F1F1F1;
    box-sizing: border-box;

}

.ordered_books{
	width: 240px;
	height: 440px;
	box-sizing: border-box;
	margin-left: 15px;
	margin-top: 10px;
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

.ordered_books h3{
	margin-left: 15px;
	padding-top: 15px;
}

.ordered_books ul{
	list-style: none;
	margin-left: -26px;
}
 
.ordered_books ul li{
	width: 190px;
	padding: 3px;
	padding-left: 10px;
    margin-bottom: 3px;
	font-size: 14px;
	background: rgba(225,225,255,0.5);
	border-bottom:solid 1px #F1F1F1;
	border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
}


.content_right{
	float: right;
	width: 680px;
	margin-right: 20px;
	margin-top: 15px;
	height: 440px;
	border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

.genre_name{
	float: left;
	width: 220px;
	height: 200px;
	margin-top: 15px;
	margin-left: 20px;
	 box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
}

.genre_name h3{
	margin-left: 10px;
}
.genre_name select{
	margin-top: -10px;
	margin-left: 10px;
	width: 150px;
	height: 25px;
	border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    border:none;
}
.genre_name select option{
	
	width: 150px;
	height: 25px;
	
}

.books_by_genre{
	margin-top: 15px;
	margin-right: 20px;
	float: right;
	width: 400px;
	height: 200px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
}

#books_by_selected_genre{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.book_checkbox{
    color: white;
    width: 200px;
    font-size: 14px;
    margin-bottom: 3px;
    /*background: rgba(225,225,255,0.5);*/
   /* background: #8A2E2E;*/
   background: #100C0C;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    padding-bottom: 2px;

}

#order_book_button{
    color: white;
    float: right;
    width: 140px;
    font-size: 14px;
    margin-top: 15px;
    margin-right: 19px;
     background: #100C0C;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
   
    padding: 1px;
    padding-left: 2px;
     padding-bottom: 2px;

}

.content_right_text{
    float: left;
    width: 640px;
    height: 195px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);  
    -0-box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -0-border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px;
}

.content_right_text h3{
    padding-left: 10px;
}

.content_right_text p{
     padding-left: 10px;
     font-size: 13px;
     margin-top:5px;
    
}

.content_right_text h3{
     margin-bottom: 5px;
}

.content_right_text span{
	font-size: 14px;
	font-weight: bold;
	margin-left:10px;
	
}

