#{extends 'main.html' /} 
<script src="@{'/public/javascripts/index.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>

<script src="@{'/public/javascripts/jquery.vegas.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>

<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.vegas.css'}">

<div id="page_align">

	<div id="header">
	     <a href="@{Application.signUpPage} " class="button">Зарегистрироваться</a>
	</div>	

	<div id="content">
        
        <div class="content_left">
        	
        	<div class="content_left_top">
                <h2>Заказывайте книги онлайн</h2>
        		<p>Cras eu fermentum ante. Vivamus convallis pharetra diam a scelerisque. Vestibulum iaculis, lacus a dapibus tempor, sapien mi fermentum magna, vitae semper enim turpis sit amet tellus. Sed eget urna diam. In id lorem est. Sed feugiat nisl et velit viverra, et suscipit risus volutpat. Quisque egestas imperdiet ligula id tempor. 
                </p>
      
            </div>  



      	
            
            <div class="content_left_bottom">
            	<h2>Наши книги</h2>
            	<p>Cras eu fermentum ante. Vivamus convallis pharetra diam a scelerisque. Vestibulum iaculis, lacus a dapibus tempor, sapien mi fermentum magna, vitae semper enim turpis sit amet tellus. Sed eget urna diam. In id lorem est. Sed feugiat nisl et velit viverra, et suscipit risus volutpat. Quisque egestas imperdiet ligula id tempor. Ut nec odio at nulla viverra mollis sed eu augue. Sed sit amet suscipit magna, at varius diam. Donec pulvinar tempus urna, sed fermentum turpis pulvinar nec. Fusce non lectus velit. Quisque eget imperdiet ipsum. Sed aliquam, augue non hendrerit facilisis, elit massa bibendum nisi, id accumsan purus erat ac lacus.
                Phasellus tempus magna vitae turpis feugiat blandit. In vitae rutrum quam. Nullam vitae urna at lacus eleifend tincidunt. Etiam id vulputate tellus. Aliquam non libero dignissim, accumsan nunc eu, pulvinar nisl. Curabitur nunc elit, vulputate ut iaculis a, ultrices non arcu. Aliquam erat volutpat. Sed turpis diam, laoreet nec arcu a, tincidunt efficitur justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in est ultrices, mattis risus tempor, eleifend mi.

            	</p>
            </div>	

        </div>
        
        <div class="content_right">
        	<div class="sign-in-form">
        	    <form action="@{Application.signIn()}" method="GET">
	        
	            
		            <input type="text" name="login" placeholder="Логин" > <br>
		            <input type="text" name="password" placeholder="Пароль" ><br>
		            <input type="submit" value="Войти" />
		            #{if flash.error}
                        <p style="color:#c00">
                            ${flash.error}
                        </p>
                    #{/if}
	        </div>
        </div>
	
	</div>

<div/>




















 <!-- <div class = "pre-header">
     <div class = "signIn-link">
         <a href="@{Application.signUpPage} " class="button">Зарегистрироваться</a>
     </div>
 </div>	

<section>
   <div id="wrapper">	
	    <form action="@{Application.signIn()}" method="GET">
	        <fieldset>
	            <legend>Форма входа</legend>
		        <input type="text" name="login" placeholder="Логин" > <br>
		        <input type="text" name="password" placeholder="Пароль" ><br>
		        <input type="submit" value="Войти" />
		        #{if flash.error}
                    <p style="color:#c00">
                        ${flash.error}
                    </p>
                #{/if}
	        </fieldset>
	    </form>
  </div>	
</section> -->


